.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;

  .title-container {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .hashtag {
      color: #5a7dff;
      font-weight: bold;
      // margin-right: 0.5rem;
      letter-spacing: 0.1rem;
    }

    .title {
      color: white;
      margin-right: 1rem;
    }

    .line {
      height: 1px;
      background-color: #5a7dff;
      flex-grow: 1;
      margin-top: 3px;
    }
  }
}

@media screen and (max-width: 500px) {
  .line {
    margin-right: 0 !important;
  }
}
