<section>
  <!-- <div class="headContainer">
    <ngx-typed-js
      [loop]="true"
      [loopCount]="3"
      [showCursor]="true"
      [backSpeed]="70"
      [typeSpeed]="70"
      [strings]="['Frontend', 'Angular', 'Backend', 'Java', 'Fullstack']"
    >
      <h1><span class="typing"></span><br />Developer</h1>
    </ngx-typed-js>
 -->

  <div class="d-flex">
    <div class="content d-flex">
      <div>
        <h1>Viktor ist Webentwickler mit Fokus auf Angular und Java.</h1>
        <p>Er verbindet moderne Technologien mit praktischer Erfahrung.</p>
      </div>
      <div class="btn-primary"><a href="#contact">Kontakt !!</a></div>
    </div>
    <div>
      <img
        src="./../../../assets/img/me.png"
        alt="Profile Image"
        class="profile-img"
      />
    </div>
  </div>
</section>
