<section>
  <!-- <div class="headContainer">
    <ngx-typed-js
      [loop]="true"
      [loopCount]="3"
      [showCursor]="true"
      [backSpeed]="70"
      [typeSpeed]="70"
      [strings]="['Frontend', 'Angular', 'Backend', 'Java', 'Fullstack']"
    >
      <h1><span class="typing"></span><br />Developer</h1>
    </ngx-typed-js>
 -->

  <div class="d-flex">
    <div class="content d-flex">
      <div>
        <h1 translate>
          Viktor is a web developer with focus on Angular and Java.
        </h1>
        <p translate>
          He combines modern technologies with practical experience.
        </p>
      </div>
      <div class="btn-primary"><a href="#contact" translate>Let's talk</a></div>
    </div>
    <div>
      <img
        src="./../../../assets/img/me.png"
        alt="Profile Image"
        class="profile-img"
      />
    </div>
  </div>
</section>
