<section>
  <div class="d-flex">
    <div class="content d-flex">
      <div>
        <!-- <p translate>Hi, ich bin Viktor</p> -->
        <p translate>Hi, i'm Viktor</p>
        <h1 translate>Fullstack developer with focus on Angular and Java</h1>
        <!-- <h1 translate>Fullstack-Entwickler mit Fokus auf Angular und Java</h1> -->
      </div>
      <div class="btn-primary"><a href="#contact" translate>Let's talk</a></div>
    </div>
    <div>
      <img
        src="./../../../assets/img/me.png"
        alt="Profile Image"
        class="profile-img"
      />
    </div>
  </div>
</section>
