@import "./../../../styles.scss";

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 800;
  font-size: 3rem;
  color: $primary;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-inline: 5vw;
  height: 100%;

  > div:first-child {
    justify-content: space-between;
    width: 100%;
    padding-block: 5rem;
  }
}

.content {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.btn-primary {
  align-self: flex-start;
  border: 1px solid $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    padding: 1rem 1.5rem;
  }
  &:hover {
    background-color: $primary;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

.profile-img {
  max-height: 400px;
  padding-right: 5rem;
}

@media screen and (max-width: 750px) {
  :first-child {
    flex-direction: column;
    align-items: center;
  }
  .profile-img {
    padding-right: 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  .btn-primary {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 400px) {
  :first-child {
    flex-direction: column;
    align-items: center;
    justify-content: unset !important;
    padding-block: 0 !important;
  }

  h1 {
    font-size: 1.5rem;
  }

  .btn-primary {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }

  .profile-img {
    height: 320px;
  }
}
