<section class="aboutMe" id="aboutMe">
    <h1 data-aos="zoom-in" translate>About me</h1>
    <div class="d-flex">
        <div class="about">
            <div class="text d-flex fontOverpass">
                <p>
                <span translate>aboutMe_content1</span><br><br>
                <span translate>aboutMe_content2<br><br></span>
                <span translate>aboutMe_content3<br><br></span>
                <span translate>aboutMe_content4<br><br></span>    
                </p>
            </div>
            <div class="talkBtn">
                <span class="fontOverpass" translate>Let's talk</span>
            </div>
        </div>
        <div class="profileImg">
            <img src="./../../../assets/img/viktor.jpg" alt="">
            <div class="border"></div>
        </div>
    </div>


</section>
<div class="seperatorWrapper" data-aos="zoom-in">
    <div class="seperatorArrow">
        <img src="./../../../assets/img/icon/arrowStatic.png" alt="">
    </div>
</div>