@import "./../../../styles.scss";

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 5vw;

  > div {
    justify-content: space-between;
  }

  .profileImg img {
    // max-height: 500px;
    border-radius: 5px;
    width: 400px;
  }

  .profileImg {
    position: relative;
    margin-right: 20px;
    // margin-left: 5vw;
    height: fit-content;
    width: fit-content;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 2.5%;
      top: 2.5%;
      border: 4px solid black;
      z-index: 1;
      opacity: 0;
      transition: 0.25s;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.text {
  :first-child {
    margin-block: 0;
  }
}

.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  // max-width: 550px;
  flex-wrap: wrap;
  row-gap: 30px;

  > .text {
    // font-size: 23px;
    text-wrap: balance;
  }
}

.seperator:hover {
  animation: drawPath2 2s ease forwards;
}

@media screen and (max-width: 800px) {
  section {
    > div {
      flex-direction: column;
    }
    .profileImg {
      align-self: center;
    }
    .profileImg img {
      max-width: calc(70vw - 30px);
    }
    .talkBtn {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
}
