<section class="aboutMe" id="aboutMe" data-aos="zoom-in">
  <!-- <h1  translate>About me</h1> -->
  <app-seperator label="über mich" marginRight="10rem" />
  <div class="d-flex">
    <div class="about">
      <div class="text d-flex">
        <p>
          <span translate>aboutMe_content1</span><br /><br />
          <span translate>aboutMe_content2<br /><br /></span>
          <span translate>aboutMe_content3</span>
        </p>
      </div>
    </div>
    <div class="profileImg">
      <img src="./../../../assets/img/profile2.png" alt="" />
      <!-- <img src="./../../../assets/img/placeholder.png" alt="" /> -->
      <div class="border"></div>
    </div>
  </div>
</section>
