<section class="aboutMe" id="aboutMe">
    <h1>About Me</h1>
    <div class="d-flex">
        <div class="about">
            <div class="text d-flex fontOverpass">
                <p>Hey everyone, I'm Viktor, a passionate frontend developer from Waldbröl in the Oberbergisches Kreis. I build web applications with JavaScript & Angular, both independently and as part of a team. You're warmly invited to explore my public portfolio.
                    <br><br>I'm fascinated by the diversity of programming, and as a junior frontend developer, I'm looking for opportunities to showcase my skills.
                    </p>
            </div>
            <div class="talkBtn">
                <span class="fontOverpass">Let's talk</span>
            </div>
        </div>
        <div class="profileImg">
            <img src="./../../../assets/img/viktor.jpg" alt="">
            <div class="border"></div>
        </div>
    </div>
</section>