<div class="wrapperWidth">
<section>

<a href=""><img id="logo" src="./../../../../assets/img/ve-logo.png" alt=""></a>

<div (click)="ontoggleMenu()" >
  <svg *ngIf="!menuOpened" class="start" width="44" height="38" viewBox="0 0 44 38" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 2H42" stroke="black" stroke-width="4" stroke-linecap="square"/>
    <path d="M2 19H42" stroke="black" stroke-width="4" stroke-linecap="square"/>
    <path d="M2 36H42" stroke="black" stroke-width="4" stroke-linecap="square"/>
    </svg>

    <svg *ngIf="menuOpened" class="end" width="40" height="32" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20 15.8555L35.3209 2.99972" stroke="black" stroke-width="4" stroke-linecap="square"/>
      <path d="M4.67969 3.14258L35.3215 28.8541" stroke="black" stroke-width="4" stroke-linecap="square"/>
      <path d="M5 28.8555L20.3209 15.9997" stroke="black" stroke-width="4" stroke-linecap="square"/>
      </svg>
      
  </div>




</section>
</div>
@if(menuOpened){
        
<div class="overlay" >
   <div class="wrapper d-flex">
        <div class="links">
          <a href="#aboutMe"><span (click)="onCloseMenu()">About me</span></a>
          <a href="#skills"><span (click)="onCloseMenu()">My skills</span></a>
          <a href="#projects"><span (click)="onCloseMenu()">Portfolio</span></a>
        </div>
        <div class="contactContainer d-flex">
          <div class="leftContent">
            <h2>Say Hi!</h2>
            <p class="fontOverpass">contact&#64;v-ens.de</p>
          </div>
          <div class="rightContent">
            <div class="socialLinks">
              <img src="./../../../../assets/img/icon/github.png" alt="">
            <img src="./../../../../assets/img/icon/eMail.png" alt="">
            <img src="./../../../../assets/img/icon/linkedIn.png" alt="">
            </div>
          </div>
        </div>
   </div>
</div>
}
