@import './../../../../styles.scss';

section{
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    // padding-left: 5vw;
    // padding-right: 5vw;

    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;

    #logo{
        width: 48px;
        margin: 6px;
        
    }

    #menu{
        width: 32px;
    }
}