@import './../../../../styles.scss';

section {
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    // padding-left: 5vw;
    // padding-right: 5vw;

    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;

    #logo {
        width: 48px;
        margin: 6px;

    }

    #menu {
        width: 32px;
    }
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 100px;
    height: 50vh;
    max-height: 50vh;
    background-color: $bg-color;
    z-index: 99;


}

.wrapper {
    height: 100%;
    margin-inline: 5vw;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    padding-inline: 5vw;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'syne', sans-serif;

    font-size: clamp(45px, 8vw, 96px);
    font-weight: 700;

    letter-spacing: -0.025em;
    text-align: center;
    gap: 20px;

    a {
        text-decoration: none;
        color: black;
        position: relative;
    }

    span::after {
        content: '';
        position: absolute;
        border-left: 4px solid black;
        border-bottom: 4px solid black;
        bottom: 0;
        left: -10px;
        width: 10px;
        height: 20px;
    }

    span::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10px;
        height: 4px;
        background-color: black;
        transition: all 0.3s ease;
        //   transform: translateX(-50%);
    }

    a:hover {
        span::before {
            left: 50%;
            width: 50%;
        }

        span::after {
            opacity: 0;
        }
    }
}




.contactContainer {
    background-color: black;
    color: white;
    height: 300px;
    clip-path: polygon(0% 0%, 100% 40%, 100% 100%, 0% 100%);


}

.hb {
    width: 40px;
    margin: 0 auto;
    display: block;
    // fill : $bg-color;
}