<section>

<a href=""><img id="logo" src="./../../../../assets/img/ve-logo.png" alt=""></a>

<div (click)="ontoggleMenu()" ><svg class="hb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" stroke="black" stroke-width=".6" fill="rgba(0,0,0,0)" stroke-linecap="round" style="cursor: pointer">
    <path d="M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7">
      <animate dur="0.2s" attributeName="d" values="M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7;M3,3L5,5L7,3M5,5L5,5M3,7L5,5L7,7" fill="freeze" begin="start.begin" />
      <animate dur="0.2s" attributeName="d" values="M3,3L5,5L7,3M5,5L5,5M3,7L5,5L7,7;M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7" fill="freeze" begin="reverse.begin" />
    </path>
    <rect width="10" height="10" stroke="none">
      <animate dur="2s" id="reverse" attributeName="width" begin="click" />
    </rect>
    <rect width="10" height="10" stroke="none">
      <animate dur="0.001s" id="start" attributeName="width" values="10;0" fill="freeze" begin="click" />
      <animate dur="0.001s" attributeName="width" values="0;10" fill="freeze" begin="reverse.begin" />
    </rect>
  </svg></div>

<!-- <img id="menu" (click)="ontoggleMenu()" src="./../../../../assets/img/burger-menu.png" alt=""> -->


</section>
@if(menuOpened){
        
<div class="overlay" >
   <div class="wrapper d-flex">
        <div class="links">
          <a href="#"><span>About me</span></a>
          <a href="#"><span>My skills</span></a>
          <a href="#"><span>Portfolio</span></a>
        </div>
        <div class="contactContainer d-flex">
          <div class="leftContent">
            <h2>Say Hi!</h2>
            <p>contact&#64;v-ens.de</p>
          </div>
          <div class="rightContent">
            <div class="socialLinks">
              <img src="./../../../../assets/img/icon/github.png" alt="">
            <img src="./../../../../assets/img/icon/eMail.png" alt="">
            <img src="./../../../../assets/img/icon/linkedIn.png" alt="">
            </div>
          </div>
        </div>
   </div>
</div>
}
