<section>
    <div class="headContainer">

        <ngx-typed-js [loop]="true" [loopCount]="3" [showCursor]="true" [backSpeed]="70" [typeSpeed]="70" [strings]="['Frontend', 'Angular', 'Backend', 'Java', 'Fullstack']">
            <h1><span class="typing"></span><br>Developer</h1>
        </ngx-typed-js>

        <h2>Viktor Ens</h2>
    </div>

    <div class="contentBottom">
        <div class="emailText">
            <p>contact&#64;v-ens.de</p>
        </div>
        <div class="scrollDown">
            <div class="scrollDownAnimation">
                <img src="./../../../assets/img/icon/arrow-static.png" alt="">
            </div>
            <span>scroll down</span>
        </div>
    </div>
</section>