<section>
    <div class="headContainer">
        <h1>Fullstack</h1>
        <h1 translate>Developer</h1>
        <h2>Viktor Ens</h2>
    </div>

    <div class="contentBottom">
        <div class="emailText">
            <p>contact&#64;v-ens.de</p>
        </div>
        <div class="scrollDown">
            <div class="scrollDownAnimation">
                <img src="./../../../assets/img/icon/arrow-static.png" alt="">
            </div>
            <span>scroll down</span>
        </div>
    </div>
</section>