@import './../../../styles.scss';


.seperator {

    clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
    background-color: black;
    color: white;
    height: 15vh;
    margin-bottom: -1px;
}

section {
    // leftTop,rightTop,rightBottom leftBottom
    clip-path: polygon(0% 0%, 100% 12.5%, 100% 100%, 0% 100%);
    background-color: black;
    color: white;
    // width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;


     font-family: 'syne', sans-serif;
    color: white;
    background-color: black;

    h1 {
        font-size: clamp(45px, 8vw, 128px);
        // position: relative;
        left: 10vw;
        bottom: 92px;
        padding-top: 20px;
        width: fit-content;
    
        &:hover{
            color: rgba(89, 136, 255, 1);
        }
    }


    h2{
        color: rgba(89, 136, 255, 1);

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 28px;

        ::placeholder{
            color: rgba(255, 252, 243, 1);
            font-family: 'syne', sans-serif;
        }

        input, textarea{
            background-color: black;
            color: white;
            outline: none;
            border: none;
            border-bottom: 2px solid rgba(255, 252, 243, 1),;
            
            width: 100%;
        
        }
        .sendMessage{
            color: rgba(255, 252, 243, 1);
            border: 1px solid rgba(255, 252, 243, 1);
        }


    }
}