@import './../../../styles.scss';


.seperator {

    clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
    background-color: black;
    color: $bg-color;
    height: 15vh;
    margin-bottom: -1px;
}

section {
    // leftTop,rightTop,rightBottom leftBottom
    clip-path: polygon(0% 0%, 100% 12.5%, 100% 100%, 0% 100%);
    background-color: black;
    color: $bg-color;
    // width: 90vw;

    // padding-left: 5vw;
    // padding-right: 5vw;
    // padding-top: 50px;
    padding: 50px 5vw 35px 5vw;


    font-family: 'syne', sans-serif;
    color: $bg-color;
    background-color: black;

    h1 {
        font-size: clamp(45px, 8vw, 128px);
        // position: relative;
        left: 10vw;
        bottom: 92px;
        padding-top: 20px;
        width: fit-content;

        &:hover {
            color: $secondary-color;
        }
    }


    h2 {
        color: $secondary-color;
        text-align: center;
    }

    h3{
        text-align: center;
    }

    .formGroup {
        display: flex;
        justify-content: center;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 620px;
    width: 100%;
    gap: 28px;

    ::placeholder {
        color: rgba(255, 252, 243, 1);
        font-family: 'syne', sans-serif;

    }

    div {
        width: 100%;
    }

    input,
    textarea {
        background-color: black;
        color: $bg-color;
        outline: none;
        border: none;
        border-bottom: 2px solid rgba(255, 252, 243, 1);
        width: 100%;
        font-family: 'Overpass', sans-serif
    }

    input[type=text],
    input[type=email] {
        height: 50px;
        
    }

    .required {
        color: red;
        font-size: 0.8rem;
    }
}

.privacy{
    display: flex;
    width: 100%;
    font-size: 14px;

    >input{
        width: fit-content;
        border-color: rgba(255, 252, 243, 1);
        background-color: black;
        // color: white;
        margin-right: 8px;
    }

    >span a{
        text-decoration: none;
        padding: 0 4px;
        color: $secondary-color;
    }
}

button {
    padding: 20px 60px;
    border: 4px solid rgba(187, 187, 187, 1);
        background-color: black;
        color: rgba(187, 187, 187, 1);

    &:disabled {
        opacity: 30%;
    }
}