<div>
  <div class="projectCard" [ngClass]="{ reverse: odd, normal: even }">
    <div class="projectImg" (click)="openModal(baseImgUrl + project.imgUrl)">
      <img src="{{ baseImgUrl }}{{ project.imgUrl }}" alt="" />
    </div>

    <div class="projectInfo">
      <div>
        <p class="usedTech">{{ project.usedTech.join(", ") }}</p>
        <h2>{{ project.title }}</h2>
      </div>

      <div class="projectDescription">
        <span translate>{{ project.description }}</span>
        @if(project.caution !== null){
        <p translate class="caution-text">{{ project.caution }}</p>
        }
      </div>
      <div class="d-flex btnContainer">
        @if(project.seperateView){

        <div class="btn" [routerLink]="[project.seperateViewPath]" translate>
          <span> View More</span>
        </div>
        } @if(project.projectUrl !== '' && !project.seperateView){
        <div class="btn">
          <a href="{{ project.projectUrl }}" target="_blank" translate
            >Live Test</a
          >
        </div>
        }
        <div class="btn">
          <a href="{{ project.gitUrl }}" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-img-modal
    *ngIf="showModal"
    [imageUrl]="selectedImageUrl"
    (closeModal)="closeModal()"
  ></app-img-modal> -->
</div>
