/* You can add global styles to this file, and also import other style files */

$bg-color: #fffcf3;
$bg-color-black: black;
$secondary-color: rgb(89, 136, 255);

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Fira Code", sans-serif !important;
}

// Scrollbar start

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f8f6f2;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

html {
  scrollbar-color: #111 #f8f6f2;
  scrollbar-width: thin;
}

// Scrollbar end

body {
  background-color: $bg-color;
  margin: 0;
}
section {
  max-width: 1420px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.maxWidth {
  max-width: 1420px;
}

.seperatorWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-inline: 5vw;
  max-width: 1420px;
  margin: 0 auto;
}
.seperatorArrow {
  // transform: scale(0.8);
  transition: transform 0.3s linear;
  width: fit-content;
  padding-inline: 5vw;
  height: 100%;
}

.isMirrored {
  transform: rotateY(180deg);
}

@media screen and (max-width: 500px) {
  .seperatorArrow img {
    height: 120px;
  }
}

@font-face {
  font-family: "Fira Code";
  src: url(./assets/fonts/FiraCode-VariableFont_wght.ttf);
}
