@import './../../../../styles.scss';

.wrapper{
    background-color: black;
}

.section {
    // background-color: black;
    color: $bg-color;
    justify-content: space-between;
    // margin-top: -1px;
    padding-inline: 5vw;
    padding-bottom: 50px;
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    margin-top: -1px;
    position: relative;

    .contentLeft {
        // background-color: white;

        >img {
            width: 40px;
            filter: brightness(300%);
        }
    }

    .legalNotice {
        padding-top: 8px;
        text-align: end;

        a{
            text-decoration: none;
            color: $bg-color;
        }
    }
}

.arrowUp{
    position: absolute;
    bottom: 150px;
    right: 5vw;
    width: 40px;
    height: 56px;
    transition: transform 0.1s linear;
    cursor: pointer;

    &:hover{
        transform: scale(1.3);
    }
}

@media screen and (max-width: 500px) {
    section {
        flex-direction: column;
        align-items: center;

        .contentLeft {
            position: relative;
        }

        .contentRight {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            .socialIcons {
                gap: 10px;
            }
        }
    }
    .arrowUp{
        display: none;
    }
}