@import './../../../../styles.scss';

section {
    background-color: black;
    color: $bg-color;
    justify-content: space-between;
    margin-top: -1px;
    padding: 0 5vw 5vw 5vw;

    .contentLeft {
        // background-color: white;

        >img {
            width: 40px;
            filter: brightness(300%);
        }
    }

    .legalNotice {
        padding-top: 8px;
        text-align: end;

        a{
            text-decoration: none;
            color: $bg-color;
        }
    }
}

@media screen and (max-width: 500px) {
    section {
        flex-direction: column;
        align-items: center;

        .contentLeft {
            position: relative;
        }

        .contentRight {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            .socialIcons {
                gap: 10px;
            }
        }
    }
}