<div class="wrapper">
<div class="d-flex section">
    <div class="contentLeft">
        <img src="./../../../../assets/img/ve-logo.png" alt="">
    </div>
    <div class="contentRight">
        <div class="socialIcons d-flex">
            <img src="./../../../../assets/img/icon/github.png" alt="">
            <img src="./../../../../assets/img/icon/eMail.png" alt="">
            <img src="./../../../../assets/img/icon/linkedIn.png" alt="">
        </div>
        <div class="legalNotice">
            <span><a [routerLink]="['/imprint']">Legal notice</a></span>
        </div>
    </div>
</div>
</div>