<section class="d-flex">
    <div class="contentLeft">
        <img src="./../../../../assets/img/ve-logo.png" alt="">
    </div>
    <div class="contentRight">
        <div class="socialIcons">
            <img src="./../../../../assets/img/icon/github.png" alt="">
            <img src="./../../../../assets/img/icon/eMail.png" alt="">
            <img src="./../../../../assets/img/icon/linkedIn.png" alt="">
        </div>
        <div class="legalNotice">
            <span><a href="/imprint">Legal notice</a></span>
        </div>
    </div>
</section>
