@import "./../../../styles.scss";

section {
  padding-inline: 5vw;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.wrapper {
  border: 1px solid $secondary;
  height: 203px;
  width: 12rem;

  p {
    border-bottom: 1px solid $secondary;
    margin-block: 0;
    padding: 0.5rem;
    font-weight: 600;
  }

  ul {
    padding-inline-start: 0;
    margin-block: 0;
    padding: 0.5rem;
  }

  li {
    list-style: none;
    font-weight: 100;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: fit-content;
  }
}
@media screen and (max-width: 700px) {
  .skill-list {
    justify-content: center;
  }
}
