<section>
    <h1 data-aos="zoom-in">Portfolio</h1>
    <h2 class="fontOverpass">Feel free to try out my latest development projects and look into their code..</h2>

    @for (project of projects; track project.id; let index = $index, odd = $odd, even = $even) {
    <div class="projectWrapper" id="project{{index}}" [ngClass]="{'isHovered': project.isHovered}"
        (mouseenter)="onMouseEnter(index)" (mouseleave)="onMouseLeave(index)">


        <div class="projectCard" [ngClass]="{'reverse': odd, 'normal': even}">

            <div class="number" [ngClass]="{'end': even}">
                <span>0{{project.id}}/ 0{{projects.length}}</span>
            </div>

            <div class="wrapper">
                <div class="projectImg">
                    <img src="{{baseImgUrl}}{{project.imgUrl}}" alt="">
                    <!-- <div class="border"></div> -->
                    <!-- <div class="arrow"><img src="./../../../assets/img/icon/arrow2.png" alt=""></div> -->

                </div>



                <div class="projectInfo" data-aos-delay="300" [attr.data-aos]="odd ? 'fade-right' : 'fade-left'">

                    <div>
                        <h3>{{project.title}}</h3>
                        <p class="fontOverpass">{{project.usedTech.join(' | ')}}</p>
                    </div>

                    <div class="projectDescription fontOverpass">
                        <p>{{project.description}}</p>
                    </div>
                    <div class="fontOverpass d-flex btnContainer">
                        <div class="btn"><a href="">LiveTest</a></div>
                        <div class="btn"><a href="{{project.gitUrl}}" target="_blank">Github</a></div>
                    </div>

                </div>

            </div>

        </div>



    </div>
    }





</section>
<div class="seperatorWrapper" data-aos="zoom-in">
    <div class="seperatorArrow">
        <img src="./../../../assets/img/icon/arrowStatic.png" alt="">
    </div>
</div>