@import './../../../styles.scss';



@mixin setDirection($direction, $distance) {
    #{$direction}: $distance;
}


section {
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.projectCard {
    display: flex;
    flex-flow: row;
    padding-bottom: 50px;
    // gap: 50px;

    &:hover {
        .border {
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }

        .arrow {
            opacity: 1;
            transform: rotate(0);
            transition: all 0.5s ease-in-out;
            scale: 1.2;
        }

        .projectInfo {
            transform: unset;
        }

        .projectImg>img {
            filter: grayscale(0);
        }
    }
}

.normal,
.reverse {
    >.number {
        position: absolute;
        top: 0;
        font-size: 36px;
        font-weight: bold;
    }
}

.normal {
    >.number {
        @include setDirection('right', 20px);
    }

    .border {
        @include setDirection('left', 2.5%);
    }

    .arrow {
        @include setDirection('left', (calc(100% + 2.5% - 30px)));
    }

    .projectInfo {
        transform: translateX(-100%);
    }
}

.reverse {
    flex-flow: row-reverse;

    >.number {
        @include setDirection('left', 20px);
    }

    .border {
        @include setDirection('right', 2.5%);
    }

    .arrow {
        @include setDirection('right', (calc(100% + 2.5% - 30px)));
    }

    .projectInfo {
        transform: translateX(100%);
    }
}

.projectImg {
    position: relative;
    z-index: 1;
    
    >img {
        filter: grayscale(1);
    }
}

.projectInfo {
    transition: all 0.5s ease-in-out;
}

.border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid black;
    top: 2.5%;
    z-index: 2;
    opacity: 0;
}

.arrow {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: calc(50% - 30px);
    z-index: 3;
    opacity: 0;
    transform: rotate(135deg);

    >img {
        height: 100%;
        width: 100%;
    }
}