@import './../../../styles.scss';



section {
  font-family: 'syne', sans-serif;
  overflow: hidden;
  padding-inline: 5vw;
  padding-bottom: 20px;
}

h1 {
  font-size: clamp(32px, 8vw, 78px);
  text-align: center;
  font-weight: 800;

  &:hover {
    color: $secondary-color;
  }
}

h2 {
  font-size: 23px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.projectCard {
  position: relative;
  margin-top: 70px;

}

.number {
  font-size: clamp(23px, 5vw, 48px);
  position: absolute;
  font-weight: 700;
}

.number.end {
  display: flex;
  justify-content: end;
  width: 100%;
}


.projectCard.reverse .wrapper {
  flex-direction: row-reverse;
}

.projectInfo {
  min-width: 25vw;
  max-width: 37vw;
}

.projectImg {

  position: relative;
  width: 100%;
  max-width: 620px;
  filter: grayscale(1);
  transition: filter 1s;

  img {
    width: 100%;
  }
}



.projectCard .projectImg::before {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  right: -12px;
  bottom: -2%;
  border: 4px solid black;
  opacity: 0;
  transition: opacity 1s linear;
}

.projectCard.reverse .projectImg::before {
  left: -4%;
  right: 2%;
}

.wrapper:hover .projectImg::before {
  opacity: 1;
}



.projectCard .projectImg::after {
  content: "";
  position: absolute;
  bottom: calc(48% - 24px);
  left: calc(98%);
  transform: rotate(135deg);
  width: 48px;
  height: 48px;
  background-image: url(./../../../assets/img/icon/arrow2.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.5s linear;
}

.projectCard.reverse .projectImg::after {
  left: calc(-8%);

}

.wrapper:hover .projectImg::after {
  opacity: 1;
  transform: rotate(0);
  scale: 1.1;

}
.wrapper:hover .projectImg{
  filter: grayscale(0);
}

// .wrapper:hover .projectInfo,
// .wrapper:focus .projectInfo,
// .wrapper:active .projectInfo
// {
//   opacity: 1;
// }

.projectInfo {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  // opacity: 0;
  transition: all 0.7s linear;

  h3 {
    font-size: clamp(32px, 5vw, 45px);
    font-weight: 800;
    margin-block: 0;
  }

  :nth-child(1) {
    p {
      font-size: 23px;
      color: $secondary-color;
      margin-block: 0;
    }
  }

  :nth-child(2) {
    p {
      font-size: 16px;
      margin-block: 0;
    }
  }

}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 60px;
  border: 4px solid black;
  font-size: 23px;
  font-family: 'Overpass', sans-serif !important;
  transition: transform 0.5s ease-in-out;
  margin-right: 40px;

  a {
    text-decoration: none;
    color: black;
  }

  &:hover {
    transform: scaleX(1.1);
    font-weight: 500;

  }
}

.caution-text {
  color: #ff0000b2;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column !important;

  }

  .projectCard.reverse .wrapper {
    align-items: flex-end;
    text-align: end;
  }

  .wrapper .projectInfo {
    max-width: unset;
    width: 100%;
  }

  .reverse .btnContainer {
    justify-content: flex-end;

    >:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 900px) {

  [data-aos][data-aos][data-aos-delay="300"],
  body[data-aos-delay="300"] [data-aos]{
    transition-delay: 0s;
  } 
  
  .number {
    position: relative;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  .projectImg {
    width: calc(100% - 7vw);
  }

  .wrapper {
    gap: 10px;
  }

}

@media screen and (max-width: 500px) {
  .projectCard{
    margin-top: 35px;
  }
  .projectImg {
    width: calc(80%);
  }

  .projectCard .projectImg::after {
    width: 30px;
    height: 30px;
    bottom: calc(48% - 15px);
  }
}

@media screen and  (min-width: 2200px){
  .number{
    top:-36px
  }
  
}