<section>
  <h2>/projects</h2>
  <h3>Liste meiner Projekte</h3>

  <div class="projects-grid" data-aos="zoom-in">
    @for (project of projects; track project.id; let index = $index, odd = $odd,
    even = $even) {

    <app-project-card
      [project]="project"
      [index]="index"
      [odd]="odd"
      [even]="even"
    ></app-project-card>

    }
  </div>

  <h3>#WIP-Projekte</h3>

  <div class="projects-grid" data-aos="zoom-in">
    @for (project of wipProjects; track project.id; let index = $index, odd =
    $odd, even = $even) {

    <app-project-card
      [project]="project"
      [index]="index"
      [odd]="odd"
      [even]="even"
    ></app-project-card>

    }
  </div>
</section>
