<section>
  <h3>Meine WIPs und Experimente</h3>
  <div style="margin-bottom: 100px">
    @for (project of projects; track project.id; let index = $index, odd = $odd,
    even = $even) {
    <!-- <div class="project">
      <div style="max-width: 700px">
        <h4>{{ project.title }}</h4>
        <p class="fontOverpass usedTech">{{ project.usedTech.join(" | ") }}</p>
        <p class="descrition">{{ project.description }}</p>
      </div>

      <div class="fontOverpass d-flex btnContainer">
        <div class="btn">
          <a href="{{ project.gitUrl }}" target="_blank">Github</a>
        </div>
        @if (project.projectUrl !== '') {
        <div class="btn">
          <a href="{{ project.projectUrl }}" target="_blank" translate
            >Live Test</a
          >
        </div>
        }
      </div>
    </div> -->

    <app-project-card
      [project]="project"
      [index]="index"
      [odd]="odd"
      [even]="even"
    ></app-project-card>
    }
  </div>
</section>
